.App {
  text-align: center;
}

.post-container {
  margin: 0 auto;
  text-align: left;
  width: 62%;
}

.post {
  border: 1px solid gray;
}

.post h2 {
  font-size: 1rem;
}

.post img {
  max-width: 100%;
  max-height: 200px;
}
